.header-search__popup{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($redColor, 0.96);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transform: translateY(-100%);
  @include transition-06;

  .main-container{
    width: 100%;
    height: 100%;
  }

  &.is-active{
    opacity: 1;
    visibility: visible;
    z-index: 101;
    transform: translateY(0);
  }

  @include respond-to(md){
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform-origin: left;
  }
}

.header-search__popup-inner{
  position: relative;
  @include square(100%);
  padding: 65px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(md){
    padding: 114px 20px;
  }
}

.header-search__popup-close{
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: transparent;
  border: none !important;

  @include respond-to(md){
    top: 43px;
    right: 20px;
  }
}

.header-search__input-wrap{
  position: relative;
  width: 500px;
  max-width: 90%;
}

.header-search__input{
  display: block;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1;
  padding-left: 14px;
  padding-right: 30px;
  @include input-placeholder{
    color: #fff;
    font-size: 15px;
    font-size: inherit;
    line-height: 1;
  }
}

.header-search__submit{
  position: absolute;
  right: 2px;
  top: -3px;
  background: transparent;
  border: none !important;
  img{
    width: 25px;
  }
}
