/*-------------Button-----------------*/
.btn {
  display: inline-flex;
  @include ai-flex-center;
  @include jc-flex-center;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #fff;
  white-space: nowrap;
  border-radius: 0 !important;
  border: none !important;
  @include transition-06;
  position: relative;
  outline: none !important;
  cursor: pointer;

  span {
    display: none;
    background-color: #fff;
    @include square(66px);
    border-radius: 100%;
    margin-left: 33px;
    @include transition-06;
  }
  svg {
    position: relative;
    height: 66px;
    left: -8px;
    @include transition-06;
  }

  &--viewmore {
    width: 125px;
    height: 31px;
  }

  &--sm {
    padding: 6px 13px 8px 37px;
    letter-spacing: 0.1em;
  }

  &--black {
    background-color: #000;
    svg {
      fill: #000;
    }
  }

  &--red {
    background-color: $redColor;
    svg {
      fill: $redColor;
    }
  }

  &:hover,
  &:focus,
  &:active {

    svg {
      transform: translateX(13px);
    }

    &.btn--black {
      background-color: $redColor;
      svg {
        fill: $redColor;
      }
    }
    &.btn--red {
      background-color: #000;
      svg {
        fill: #000;
      }
    }
  }

  @include respond-to(md) {
    font-size: 1.5rem; //24px
    letter-spacing: 0.2em;
    span {
      display: block;
    }

    &--sm {
      letter-spacing: 0.1em;
    }

    &--viewmore {
      width: auto;
      height: auto;
      padding: 8px 14px 8px 50px;
    }
  }
}
