.cta {
  position: relative;
  padding: 91px 0 85px;
  @include respond-to(md) {
    padding: 281px 0 147px;
  }
}

.cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  @include square(100%);
  z-index: -1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }
  img {
    @include imageCover;
  }
}

.cta__inner {
  max-width: 865px;
  padding: 0 20px;
  @include center;
  text-align: center;
  h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  p {
    font-size: 1rem;
    line-height: 1.875;
    font-weight: 300;
    margin-bottom: 44px;
  }

  @include respond-to(md) {
    h2 {
      font-weight: bold;
      font-size: 60px;
      line-height: 0.67;
    }
    p {
      font-size: 30px;
      margin-bottom: 47px;
    }
  }
}

.cta-form {
  @include center;
}

.cta__input-wrap {
  position: relative;
  max-width: 477px;
  @include center;

}

.cta__input-icon {
  position: absolute;
  left: 5px;
  bottom: 15px;
  width: 30px;

  @include respond-to(md){
    left: 20px;
    bottom: 18px;
  }
}

.cta__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding-left: 50px;
  padding-bottom: 13px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.1em;

  background-color: transparent;

  @include input-placeholder {
    font-size: inherit;
    color: #000;
  }

  @include respond-to(md) {
    font-size: 20px;
    padding-left: 86px;
    letter-spacing: 0.13em;
  }
}

.cta__subscribe {
  position: relative;
  margin-top: 104px;
  .btn {
    font-size: 20px;

    span{
      display: block;
    }
  }

  &:before{
    content: '';
    display: block;
    height: 43px;
    width: 1px;
    background-color: #000;
    position: absolute;
    top: -64px;
    left: 0;
    right: 0;
    margin: auto;
  }

  @include respond-max(1023){
    .btn{
      padding-left: 20px;
      padding-right: 60px;

      @include on-event{
        svg{
          fill: #fff;
        }
      }
    }
    span{
      background-color: transparent;
      order: 0;
      margin-left: 0;
      svg{
        fill: #fff;
        width: 30px;
      }
    }
  }

  @include respond-to(md){
    .btn{
      font-size: 24px;
    }
  }
}
