.home-video{
  padding: 100px 0 100px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include respond-to(md){
    padding: 160px 0 100px;
  }
}

.home-video__inner{
  max-width: 1044px;
  @include center;

  video{
    width: 100%;
  }
  p{
    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;
    color: #000000;
    margin-top: 20px;
    text-align: center;
  }
  @include respond-to(md){
    p{
      margin-top: 34px;
    }
  }
}
