.home-hero {
  padding-top: 65px;
  //height: 100vh;
  //min-height: 600px;
  @include respond-to(sm) {
    padding-top: 65px;
    //height: 100vh;
    //min-height: 700px;
  }

  @include respond-to(md) {
    padding-top: 119px;
    height: 100vh;
  }
}

.home-hero__inner {
  @include square(100%);
  position: relative;
}

.home-carousel {
  height: 100%;

  .slick-list, .slick-track {
    height: 100%;
  }
}

.home-carousel__item {
  height: 100%;
}

.home-carousel__item-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  @include square(100%);
  background-color: rgba($lightGreyColor, 0.4);
  transition: 2s all ease;
  &.is-hidden {
    opacity: 0;
  }

  @include respond-max(1024) {
    padding-bottom: 111px;
  }
}

.home-carousel__item-media {
  height: 0;
  padding-bottom: 75.25%;
  z-index: 0;
  overflow: hidden;
  img {
    display: block;
    @include imageCover;
    top: 0;
    bottom: 0;
    margin: auto;
    object-position: 50% 50%;
  }

  video {
    @include respond-max(1024) {
      min-width: auto;
      min-height: auto;
      width: auto;
      height: 100%;
    }
  }

  @include respond-to(md) {
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    padding-bottom: 0;
  }
}

.home-carousel__item-content {
  z-index: 1;
  margin-top: auto;
  background-color: rgba(#fff, 0.8);
  box-shadow: 0px 13px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 17px 0px 32px 11px;
  max-width: 80%;

  @include respond-max(1024) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
  }

  @include respond-to(md) {
    @include square(100%);
    max-width: 100%;
    margin-top: 0;
    background-color: transparent;
    box-shadow: none;
    .main-container {
      position: relative;
      @include square(100%);
    }
  }
}

.home-carousel__item-content-inner {
  h1, .h1 {
    font-size: 1.75rem; //28
    line-height: 1.17;
    letter-spacing: 0.2em;
    font-weight: 500;
    opacity: 0;
    @include transition-06;
    &.is-hidden {
      opacity: 0 !important;
      transition: 0s;
    }
    &.is-shown {
      opacity: 1 !important;
    }
  }
  p {
    font-size: 0.875rem;
    line-height: 1.4;
    letter-spacing: -0.4px;
    margin-bottom: 18px;
    opacity: 0;
    @include transition-06;
    &.is-hidden {
      opacity: 0 !important;
      transition: 0s;
    }
    &.is-shown {
      opacity: 1 !important;
      transition-delay: 0.2s;
    }
  }
  .btn {
    opacity: 0;
    transform: translateY(30px);
    &.is-hidden {
      opacity: 0 !important;
      transform: translateY(30px) !important;
      transition: 0s;
    }
    &.is-shown {
      opacity: 1 !important;
      transform: translateY(0) !important;
      transition-delay: 0.1s;
    }
  }

  @include respond-to(md) {
    position: absolute;
    top: 29%;
    right: 30px;
    padding: 0 20px 0 0;
    width: 526px;
    max-width: 450px;
    h1, .h1 {
      font-weight: normal;
      font-size: 2.5rem;
      margin-bottom: 27px;
    }
    p {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.67;
      margin-bottom: 34px;
    }
  }
  @include respond-to(xl) {
    max-width: 526px;
    right: 50px;
    h1 {
      font-size: 4rem; //64px;
    }
  }
}

.home-carousel__item--video{
  .home-carousel__item-content{
    padding-top: 32px;
  }
  .home-carousel__item-content-inner{
    .btn{
      width: auto;
      border: 1px solid #000;
      color: #000;
      padding: 8px;
      @include on-event {
        background-color: $redColor;
        color: #fff;
        border-color: $redColor;
      }
      &.is-hidden {
        opacity: 0 !important;
        transform: translateY(-30px) !important;
        transition: 0s;
      }
      &.is-shown {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition-delay: 0.1s;
      }
      &.initially-hidden {
        opacity: 0 !important;
        transform: translateY(-30px) !important;
        transition: 0s;
      }
    }
    @include respond-to(md){
      top: auto;
      bottom: 29%;

      .btn{
        border-color: #fff;
        color: #fff;
        padding: 20px;
      }
    }
  }
}
