.home-about {
  padding-top: 55px;
  position: relative;
  @include respond-to(md) {
    padding-top: 68px;
  }
}

.home-about__inner {
  position: relative;
  padding-bottom: 83px;
  max-width: 100%;
  @include respond-to(md) {
    z-index: 2;
    padding-bottom: 0;
  }
}

.home-about__content {
  z-index: 2;
  h2 {
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 1.2;

    &:after {
      content: '';
      display: block;
      width: 23px;
      height: 1px;
      background-color: #000;
      margin: 15px 0;
    }
  }
  p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.8;
  }
  a {
    margin-top: 40px;
    z-index: 10;
  }
  @include respond-to(md) {
    margin-left: auto;
    margin-right: 10px;
    max-width: 530px;
    padding-top: 80px;
    padding-bottom: 140px;

    h2 {
      font-size: 30px;
      font-weight: normal;
      &:after {
        width: 57px;
        margin: 28px 0;
        background-color: #000;
      }
    }
    p {
      font-size: 20px;
    }
    a {
      margin-top: 80px;
    }
  }
  @include respond-to(xl) {
    max-width: 652px;
    padding-top: 115px;
    padding-bottom: 210px;

    h2 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
      line-height: 2.08;
    }
  }
}

.home-about__circle {
  display: none;
  @include respond-to(md) {
    display: block;
    position: absolute;
    right: -4vw;
    bottom: 0;
    @include square(800px);
    border-radius: 50%;
    z-index: 2;
    border: 1px solid #C4C4C4;
  }
  @include respond-to(xl){
    top: auto;
    @include square(1022px);
  }
}

.home-about__media {
  position: relative;
  border-radius: 50%;
  @include square(380px);
  overflow: hidden;
  margin-left: auto;
  margin-right: -85px;

  img {
    @include imageCover;
    border-radius: 50%;
  }

  @include respond-to(xs){
    @include square(550px);
    margin: auto;
  }

  @include respond-to(md) {
    position: absolute;
    left: -6.5vw;
    bottom: -27px;
    top: -27px;
    margin: 0;
    @include square(650px);
    z-index: -1;
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  @include respond-to(xl){
    top: auto;
    left: -9.5vw;
    @include square(800px);
    opacity: 1;
    &:after{
      display: none;
    }
  }
  @include respond-to(xxl){
    @include square(876px);
  }
}
