.other-news {
  background-color: #FCFCFC;
  padding-top: 98px;

  h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
  }

  @include respond-to(md) {
    padding-bottom: 100px;
    padding-top: 0;

    h3 {
      margin-bottom: 40px;
    }
  }
}

.other-news__item-inner {
  @include respond-to(sm) {
    padding: 0 20px;
  }
}

.other-news__item-img {
  margin-bottom: 35px;
  width: 100%;
  img {
    width: 100%;
  }
}

.other-news__item-content {

}

.other-news__item-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 2.86;
  text-transform: uppercase;

  color: #000000;
}

.other-news__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 10px;
}

.other-news__controls {
  @include respond-to(md) {
    display: none;
  }
}

.other-news__item-btn {
  .btn {
    justify-content: flex-start;
    padding-left: 10px;
  }
}
