.share-block{
  z-index: 10;
  ul{
    text-align: center;
  }
  li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.86;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  a{
    display: block;
    height: 20px;
    font-size: 0;
    margin: auto;
    svg{
      height: 100%;
      width: auto;
      fill: #000;
      @include transition-06;
    }
    @include on-event{
      svg{
        fill: $redColor;
      }
    }
  }
  @include respond-to(md){
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    li{
      display: block;
      margin: 0 0 26px;
    }
  }
  @include respond-to(xl){
    left: 78px;
  }
}
